@{
    ViewBag.Title = "表单查看页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Entity.WorkFlow
<div class="row-fluid">
    <div class="span12" style="margin-top: 50px;">
        @{Html.RenderAction("RightOption", "WorkFlow_Form_Financing", new { financingID = 2, workflowID = 1 });}
        <table id="TabMain" align="center" style="width: 100%; margin-bottom: 20px;">
            <tr>
                <td>
                    <table style="width: 100%; line-height: 30px">
                        <tr>
                            <td colspan="2" align="center">
                                <span style="font-weight: bold; font-size: 24px">@Model.Financing.WorkFlowManager.Name</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                申请日期：@Model.BeginDate.ToString("yyyy/MM/dd")
                            </td>
                            <td style="text-align: right">
                                单号：@Model.Number
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    @{Html.RenderAction("Index", "WorkFlow_Form_Financing", new { financingID = ViewBag.financingID, workflowID = Model.ID });}
                </td>
            </tr>
            <tr>
                <td>
                    @{Html.RenderAction("MechanismProducts", "WorkFlow_Form_Financing", new { Products = ViewBag.Products });}
                </td>
            </tr>
            <tr>
                <td>
                    @{Html.RenderAction("ApprovalRecord", "WorkFlow_Form_Financing", new { WorkFlowID = Model.ID });}
                </td>
            </tr>
        </table>
       @* <div id="div_FC" class="Float_div control-group">
            <table align="center">
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "Mechanism")" class="btn blue" style="width:80px">返回</a>
                    </td>
                </tr>
            </table>
        </div>*@
    </div>
</div>
