@{
    ViewBag.Title = "Manage";
    Layout = null;
    var ac = ViewBag.AC as Investment.Models.AttachmentControl;
}
@{Html.AddStyle(Url.Content("/Scripts/uploadify/uploadify.css"));}
@{Html.AddJavaScript(Url.Content("/Scripts/uploadify/jquery.uploadify.js"));}
@{Html.AddJavaScript(Url.Content("/Attachment/GetJS?formID=" + ac.ID + "&enumAttachmentType=" + (int)ac.EnumAttachmentType) + "&table=" + ac.Table + "&tableID=" + ac.TableId);}
@model List<Entity.Attachment>
<span class="help-inline"><a class="blue" data-toggle="modal" href="#responsive_@ac.ID">
    [管理附件]</a><label
    id="label_new_attachment_@ac.ID"></label></span>
<div id="responsive_@ac.ID" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        </button>
        <h3>
            附件管理</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12" style="max-height: 600px; min-height: 300px; overflow-y: auto">
                <div class="control-group">
                    <input id="file_upload_attachment_@ac.ID" name="file_upload_attachment_@ac.ID" type="file" multiple="false" />
                    <input id="hid_attachment_@ac.ID" name="hid_attachment_@ac.ID" type="hidden" />
                </div>
                <h4>
                    新附件</h4>
                <div class="control-group" style="border: 1px solid #EFEFEF; min-height: 100px; padding: 5px;"
                    id="div_newAttachment_@ac.ID">
                </div>
                <h4>
                    已有附件@(Model.Count)个</h4>
                <div class="control-group" style="border: 1px solid #EFEFEF; min-height: 100px; padding: 5px;">
                    @foreach (var item in Model)
                    {
                        <div>
                            <span class="inline">@item.FileName</span><a style="cursor: pointer;margin-left:20px;" class="inline link_delete_old_attachment_@(ac.ID)" tid='@item.TableID' link_id='@item.ID'>删除</a></div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">
            关闭</button>
        <!--<button type="button" class="btn blue">
            Save changes</button>-->
    </div>
</div>
