<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EmailInfo" value="d537@163.com|lingyuanaicike"/>
    <add key="SMTPClient" value="smtp.163.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="URl" value="http://192.168.1.138:4280"/>
    <add key="sendEmail" value="False"/>
    <add key="cwzjEmail" value="315954870@qq.com"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
