<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="EmailInfo" value="d537@163.com|lingyuanaicike"/>
    <add key="SMTPClient" value="smtp.163.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="URl" value="http://192.168.1.138:4280"/>
    <!--TQYTEmail 提前一天提醒出纳放款（自有资金）-->
    <add key="TQYTEmail" value="False"/>
    <!--LXEmail 放款后收利息提醒 （自有资金） 提前5天通知项目经理，如未收利息提前3天通知财务总监-->
    <add key="LXEmail" value="False"/>
    <!--财务总监-->
    <add key="cwzjEmail" value="271598709@qq.com"/>
    
  </appSettings>

  <connectionStrings>
    <!--<add name="Context" connectionString="Data Source=121.42.10.158;Initial Catalog=Imtimely_InvestmentIIS;User ID=sa;Password=pass123!;Pooling=False" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Context" connectionString="Data Source=localhost;Initial Catalog=Imtimely_Investment;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="Context" connectionString="Data Source=WIN-UJ8O0TNUE5U\MSSQLSERVER2;Initial Catalog=Imtimely_Investment;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />-->
    <add name="Context" connectionString="Data Source=localhost;Initial Catalog=Imtimely_Investment;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
