
/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d !important;
    font-size:14px;
    /*font-weight: bold;*/
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #e80c4d !important;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #e80c4d !important;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}