@{
    ViewBag.Title = "FangKuanRIQI";
}
@model Entity.WorkFlow
<div class="span12" style="margin-left: 0px">
    <table class="table table-bordered dataTable" style="border-collapse: collapse">
        <tr>
            <td colspan="6" class="td_title" style="font-weight: bold; text-align: left !important;">
                放款日期
            </td>
        </tr>
        <tr>
            <td>
                @Model.LoanDay
            </td>
        </tr>
    </table>
</div>
