@{
    Layout = null;
    int? workflowID = ViewBag.workflowID;
}
<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix alert alert-success"
    role="complementary" style="padding-right: 14px; right: 22px; top: 400px">
    <div>
        <a href="@Url.Action("Detail", "Company", new { id = ViewBag.CompanyID })" target="_blank" class="alert-link">
            公司详细信息</a></div>
    <div style="margin-top: 8px">
        <a href="@Url.Action("Detail", "Financing", new { id = ViewBag.FinancingID })"  target="_blank" class="alert-link">
            贷款详细信息</a></div>
    <div style="margin-top: 8px">
        <a href="@Url.Action("Index", "Attachment", new { id = ViewBag.FinancingID, Sel_Str = ViewBag.Sel_Str })"  target="_blank" class="alert-link">
            附件信息</a></div>
    @if (workflowID.HasValue)
    {
        <div style="margin-top: 8px">
            <a href="@Url.Action("Index", "WorkLog", new { workFlowID = workflowID.Value, hasGroupAccount = false })"  target="_blank" class="alert-link">
                项目负责人日志</a></div>}
    <div style="margin-top: 8px">
        <a class="back-to-top" href="#top">返回顶部</a></div>
</div>
